{% set categories = node.categories.getString()|split(',') %}
{% set category = null %}
{% set category = '1' in categories ? 'project' : category %}
{% set category = '2' in categories ? 'page' : category %}
{% set category = '3' in categories ? 'blog' : category %}

{%
  set classes = [
    'relative',
    'node',
    category|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes)}}>
	{% block before_content %}{% endblock %}

	{% block content %}
		<div{{content_attributes.addClass('node__content')}}>
			{{ content }}
		</div>
	{% endblock %}

	{% block after_content %}{% endblock %}
</article>
