/** Global **/
body {
  --color-main: #1B262C;
  --color-alt: #396941;
  --color-fg: var(--color-main);
  --color-link: var(--color-alt);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

a {
  font-weight: bold;
}

/** Header **/
.region-header,
.region-footer,
.block-menu ul,
.block-system-branding-block {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.region-footer,
.region-header {
  justify-content: space-between;
}

.site-logo img {
  height: 3rem;
}

.block-menu ul {
  margin: 0;
  padding: 0;
}

.block-menu li {
  list-style: none;
}

.block-menu a {
  display: block;
  padding: 0.25rem;
  text-decoration: none;
  border: 0.25rem solid transparent;
  border-style: dashed;
}

.block-menu a:hover,
.block-menu a.is-active {
  border-bottom-color: var(--color-link-hover);
}
