<div class="py-2 flex flex-row gap-2 portfolio-navigation">
  {% if previous %}
    <a class="previous" href="{{ path('entity.node.canonical', {node: previous.id()}) }}" class="flex flex-row gap-2">
      <svg fill="currentColor" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 512 512" xml:space="preserve">
        <g transform="translate(1 1)">
          <g>
            <g>
              <path d="M297.667,203.838H203.8v-85.333c0-3.413-1.707-5.973-5.12-7.68c-2.56-1.707-5.973-0.853-8.533,0.853L2.413,248.212
                                                    C0.707,249.919-1,252.479-1,255.038c0,2.56,1.707,5.12,3.413,6.827l187.733,136.533c1.707,0.853,3.413,1.707,5.12,1.707
                                                    s2.56,0,4.267-0.853c2.56-1.707,4.267-4.267,4.267-7.68v-85.333h93.867c5.12,0,8.533-3.413,8.533-8.533v-85.333
                                                    C306.2,207.252,302.787,203.838,297.667,203.838z M289.133,289.172h-93.867c-5.12,0-8.533,3.413-8.533,8.533v76.8L22.04,255.038
                                                    l164.693-119.467v76.8c0,5.12,3.413,8.533,8.533,8.533h93.867V289.172z"/>
              <path d="M348.867,203.838c-14.507,0-25.6,11.093-25.6,25.6v51.2c0,14.507,11.093,25.6,25.6,25.6c14.507,0,25.6-11.093,25.6-25.6
                                                    v-51.2C374.467,214.932,363.373,203.838,348.867,203.838z M357.4,280.638c0,5.12-3.413,8.533-8.533,8.533
                                                    s-8.533-3.413-8.533-8.533v-51.2c0-5.12,3.413-8.533,8.533-8.533s8.533,3.413,8.533,8.533V280.638z"/>
              <path d="M417.133,203.838c-14.507,0-25.6,11.093-25.6,25.6v51.2c0,14.507,11.093,25.6,25.6,25.6s25.6-11.093,25.6-25.6v-51.2
                                                    C442.733,214.932,431.64,203.838,417.133,203.838z M425.667,280.638c0,5.12-3.413,8.533-8.533,8.533s-8.533-3.413-8.533-8.533
                                                    v-51.2c0-5.12,3.413-8.533,8.533-8.533s8.533,3.413,8.533,8.533V280.638z"/>
              <path d="M485.4,203.838c-14.507,0-25.6,11.093-25.6,25.6v51.2c0,14.507,11.093,25.6,25.6,25.6s25.6-11.093,25.6-25.6v-51.2
                                              C511,214.932,499.907,203.838,485.4,203.838z M493.933,280.638c0,5.12-3.413,8.533-8.533,8.533s-8.533-3.413-8.533-8.533v-51.2
                                              c0-5.12,3.413-8.533,8.533-8.533s8.533,3.413,8.533,8.533V280.638z"/>
            </g>
          </g>
        </g>
      </svg>
      <span>{{ previous.label() }}</span>
    </a>
  {% endif %}

  {% if next %}
    <a class="next" href="{{ path('entity.node.canonical', {node: next.id()}) }}" class="flex flex-row gap-2">
      <svg class="order-last" fill="currentColor" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 511.147 511.147" xml:space="preserve">
        <g transform="translate(1 1)">
          <g>
            <g>
              <path d="M506.733,247.785L319,111.252c-2.56-1.707-5.973-2.56-8.533-0.853c-2.56,1.707-4.267,4.267-4.267,7.68v85.333h-93.867
                                                    c-5.12,0-8.533,3.413-8.533,8.533v85.333c0,5.12,3.413,8.533,8.533,8.533H306.2v85.333c0,3.413,1.707,5.973,4.267,7.68
                                                    c1.707,0.853,2.56,0.853,4.267,0.853s3.413-0.853,4.267-1.707l187.733-136.533c1.707-1.707,3.413-4.267,3.413-6.827
                                                    C510.147,252.052,509.293,249.492,506.733,247.785z M323.267,374.079v-76.8c0-5.12-3.413-8.533-8.533-8.533h-93.867v-68.267
                                                    h93.867c5.12,0,8.533-3.413,8.533-8.533v-76.8L487.96,254.612L323.267,374.079z"/>
              <path d="M161.133,203.412c-14.507,0-25.6,11.093-25.6,25.6v51.2c0,14.507,11.093,25.6,25.6,25.6c14.507,0,25.6-11.093,25.6-25.6
                                                    v-51.2C186.733,214.505,175.64,203.412,161.133,203.412z M169.667,280.212c0,5.12-3.413,8.533-8.533,8.533
                                                    s-8.533-3.413-8.533-8.533v-51.2c0-5.12,3.413-8.533,8.533-8.533s8.533,3.413,8.533,8.533V280.212z"/>
              <path d="M92.867,203.412c-14.507,0-25.6,11.093-25.6,25.6v51.2c0,14.507,11.093,25.6,25.6,25.6c14.507,0,25.6-11.093,25.6-25.6
                                                    v-51.2C118.467,214.505,107.373,203.412,92.867,203.412z M101.4,280.212c0,5.12-3.413,8.533-8.533,8.533
                                                    c-5.12,0-8.533-3.413-8.533-8.533v-51.2c0-5.12,3.413-8.533,8.533-8.533c5.12,0,8.533,3.413,8.533,8.533V280.212z"/>
              <path d="M24.6,203.412c-14.507,0-25.6,11.093-25.6,25.6v51.2c0,14.507,11.093,25.6,25.6,25.6c14.507,0,25.6-11.093,25.6-25.6
                                              v-51.2C50.2,214.505,39.107,203.412,24.6,203.412z M33.133,280.212c0,5.12-3.413,8.533-8.533,8.533s-8.533-3.413-8.533-8.533
                                              v-51.2c0-5.12,3.413-8.533,8.533-8.533s8.533,3.413,8.533,8.533V280.212z"/>
            </g>
          </g>
        </g>
      </svg>
      <span>{{ next.label() }}</span>
    </a>
  {% endif %}
</div>
