{#
/**
 * @file
 * Custom theme implementation to display a single Drupal page.
 */
#}
  <header class="content-header clearfix">
    <div class="layout-container">
      {{ page.header }}
    </div>
  </header>

  <div class="layout-container">
    <main class="page-content clearfix" role="main">
      <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
      {{ page.content }}
    </main>

    {% if page.footer %}
    <footer class="page-footer">
      {{ page.footer }}
    </footer>
    {% endif %}
  </div>
