{{ attach_library('matthieu/analytics') }}

<header class="pt-4 bg-stone-100 border-b-4 border-b-green-900 page-header">
	<div class="container mx-auto">
		{{ page.header }}
	</div>
</header>

<main class="relative flex-1 py-8 bg-white max-sm:px-8 page-content" role="main">
  <div class="visually-hidden">
    <a id="main-content" tabindex="-1"></a>
  </div>
	<div class="container mx-auto">
    {{ page.content }}
  </div>
</main>

<footer class="flex-0 justify-self-end pt-4 pb-4 border-t-200 border-t-4 border-t-green-900 page-footer">
	<div class="container mx-auto">
    {{ page.footer }}
  </div>
</footer>
